html,
body {
    font-family: "Barlow";
    background-color: #EFF6FF;
    margin: 5px;
    padding: 5px;
}

.left-img {
    float: left;
    overflow: hidden;
    width: 450px;
    padding: 50px;
}


.right-form {
    background: #FFFFFF;
    color: #2A4A5C;
    font-size: 10px;
    margin: 50px;
    padding: 90px;


}

.btn-facebook {
    background: #255A9B;
    color: #FFFFFF;
}

.btn-linkedin {
    background: #0076B6;
    color: #FFFFFF;
}

#submit {
    background: #3698FB;
}